/**
 * gg CORE
 * global css 
 */

/* justify openiconic iconfonts */
/*.oi {
    top:2px;
}*/

/* password visibility button*/
.gg-togglepw {
    border-color: #ced4da;
}

/* floating label in input group correction*/
.gg-form-floating-group input {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

/* for multiple invalid-feedback */
.gg-hide.gg-hide {
    display: none;
}

/* necessary for invalid password border */
input[type="password"] {
    z-index: 3;
}
